body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sat-pics,
img {
  width: 50vw;
}
/* ========== MARS ==================================== */

.mars-search-button {
  background-color: #d9ad7c;
}
.mars-search-button:hover {
  color: white;
}
.mars-search-button:active {
  color: #333;
}

/* ========================================================== */
